body {
    background-color: #000;
}

h1 {
    color: #fff;
}

a {
    text-decoration: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

nav section {
    margin: 0 10px 10px 0;
    border-radius: 8px;
}

nav section .card {
    background-color: #272727 ;
    border-radius: 8px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

nav section .card .title {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: inherit;
    display: flex;
    margin-bottom: 10px;
}

.sidebar .fa-plus {
    width: inherit;
    position: absolute;
    right: 30px;
    
}

nav section .card .text {
    font-family: inherit;
    padding-bottom: 20px;
    display: flex;
}

.button {
    padding: 10px;
    background-color: #fff;
    color: #000;
    font-family: inherit;
    font-weight: 600;
    width: fit-content;
    border-radius: 15px;
}